<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/icon/Logo-aivo.png" alt="" width="65" height="25" class="d-inline-block align-text-top">
        <a class="navbar-brand" routerLink="/login">ChallengIvan</a>
      </a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login">Login</a>
          </li> -->
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link"*ngIf="auth.user$ | async as user" routerLink="/home">Home</a>
          </li>
        </ul>
        <span class="navbar-text">
         <!-- <button class="btn btn-outline-primary" (click)="auth.loginWithRedirect()">Ingresar</button> -->
         <!-- <button class="btn btn-outline-danger" (click)="auth.logout()">Salir</button> -->
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button class="btn btn-outline-danger" (click)="auth.logout({ returnTo: document.location.origin })">
              Log out
            </button>
        </ng-container>
        <ng-template #loggedOut>
        <button class="btn btn-outline-primary" (click)="auth.loginWithRedirect()">Log in</button>
        </ng-template>

        </span>
      </div>
    </div>
  </nav>