<div class="container">
    <div class="row">
        <div class="col-md-12 title">
            <h1>Challeng Ivan - Streaming</h1>
        </div>

        <div class="col-md-12 padding button">
            <input #buscarText type="text" (keyup.enter)="buscar(buscarText.value);" class="form-control" placeholder="Buscar...">
            <button (click)="buscar(buscarText.value);" class="btn btn-outline-primary" type="button">Buscar</button>
        </div>

          <div class="row row-cols-1 row-cols-md-3 g-4" >
            <div class="col" *ngFor="let item of response">
              <div class="card">
                <img class="card-img-top imh-fluid" src="{{item.images['Poster Art'].url}}" class="card-img-top" alt="{{item.title}}">
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div class="padding">
                      <button type="button" class="btn btn-primary position-relative">
                        {{item.programType}}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        Año - {{item.releaseYear}}
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>   